<section>
  <h1>Upcoming</h1>
  <ul id="upcoming">
      <li class="event">
        <em>February 23, 2013</em>: <a href="http://www.facebook.com/events/205972099544891/permalink/206969599445141/">Wharton Tiers Ensemble @ Silent Barn, Bushwick, Brooklyn, NY</a>
      </li>
      <li class="event">
        <em>March 8-12, 2013</em>: <a href="http://sxsw.com">SXSW, Austin, TX</a>
      </li>
      <li class="event">
        <em>March 21-23, 2013</em>: <a href="http://cocoaconf.com/dc-2013/home">CocoaConf, Washington, DC</a>
      </li>
      <li class="event">
        <em>April 4-6, 2013</em>: <a href="http://cocoaconf.com/dallas-2013/home">CocoaConf, Dallas, TX</a>
      </li> 
 </ul>
</section>
